.icon-wrap a button{
    background-color: #fff;
    border:none;
}

.btn-prev,.btn-next {
    border:none;
    background-color: #fff;
    font-weight: bold;
}

.paginate-wrap span {
    width:30px;
    height:30px;
    display: inline-block;
    border:1px solid #ccc;
    background-color:#04aa6d;
    color:#fff;
}
.paginate-show span {
    width: 60%;
}
.paginate-show select{
    width:25%;
}

.wrap-group input{
    width:80%
}

@media only screen and (max-width: 992px){
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td{
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top:200px;
        left:-10000px;
    }
    #no-more-tables td {
        position: relative;
        padding-left: 35%;
        border:none;
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td::before{
        content:attr(data-title);
        position:absolute;
        left:6px;
        font-weight: bold;
    }
    #no-more-tables tr{
        border-bottom: 1px solid #ccc;
    }
}
@media only screen and (min-width: 800px )and (max-width:1180px){
    #no-more-tables td {
        position: relative;
        padding-left: 50%;
        border:none;
        border-bottom: 1px solid #eee;
    }
    
} 